@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Nanum Gothic Coding', monospace;
}
::-webkit-scrollbar {
    width: 0.5em;
  }