.footer {
    background-image: linear-gradient(45deg, rgb(248, 248, 248), rgb(197, 238, 249), rgb(242, 243, 255));
    padding: 20px;
    color: #141414;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer ul li:last-child {
    margin-right: 0;
  }
  
  .footer ul li a {
    color: #555;
    text-decoration: none;
  }
  
  @media screen and (max-width:600px) { 
  
  .footer{
    font-size: 2rem;
    padding: 10px;
  }
  
  
  }
  