.home {
  padding: 10px;
  font-size: 1rem;
  background: linear-gradient(45deg, transparent, #eb36e2);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login {
  padding: 10px;
  font-size: 1rem;
  background: linear-gradient(45deg, transparent, #ee31c8);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.home:hover {
  background-color: #333;
  box-shadow: 0 0 5px rgb(239, 138, 239), 0 0 10px rgb(209, 111, 229),
    0 0 25px rgb(226, 104, 237), 0 0 50px rgb(225, 116, 214);
  color: white;
}

.Login:hover {
  background-color: #333;
  box-shadow: 0 0 5px rgb(209, 107, 227), 0 0 10px rgb(191, 88, 205),
    0 0 25px rgb(199, 123, 220), 0 0 50px rgb(157, 75, 180);
  color: white;
}

.start-coding-button {
  margin-top: 50px;
  padding: 15px 25px;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 89, 255), 0 0 10px rgb(0, 89, 255);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.start-coding-button:hover {
  background-color: #333;
  box-shadow: 0 0 5px rgb(128, 162, 229), 0 0 10px rgb(127, 127, 238),
    0 0 25px rgb(123, 123, 220), 0 0 50px rgb(109, 156, 252);
}
.image {
  width: 39rem;
}
.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2.5rem;
}
.home__txt {
  font-size: 3.5rem;
  font-weight: bolder;
}

.home-content {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(
    45deg,
    rgba(231, 231, 231, 0.632),
    rgb(197, 238, 249),
    rgb(246, 247, 249)
  );
}
.content {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 900;
}
@media screen and (max-width: 714px) {
  .image {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .home__txt {
    font-size: 2.3rem;
  }
  .content {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .home-content{
    height: 83vh;
  }
  .image {
    width: 300px;
  }
  .start {
    align-items: center;
    text-align: center;
    margin-left: 0;
  }
  .start > p {
    font-size: 2.4rem;
  }
  .start-coding-button {
    margin-top: 50px;
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
