.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.card_container {
  max-width: 20rem;
  padding: 40px;
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;  
}

.signup_container > div{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.signup_container > div > input{
  border-radius: 8px;
  border: none;
  padding: 0.2rem;
}
.roll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.btnElement_ {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(45deg, transparent, #007bff);
  cursor: pointer;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.btnElement_loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #000;

}

.btnElement:hover {
  box-shadow: 0 0 5px rgb(0, 89, 255), 0 0 25px rgb(0, 89, 255),
    0 0 50px rgb(0, 89, 255), 0 0 100px rgb(0, 89, 255);
}

.i {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .page {
    flex-direction: column-reverse;
  }
  .i {
    display: none;
  }
}
